body {
    background-color: #cd3a50;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
}

header {
    flex-grow: 1;
}

main {
    /* display: flex;
    flex-direction: column; */
    flex-grow: 4;
    background: url('../images/pink-pixel-urban-nightscape.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 90vw;
    width: 90vw;
    width: 75%; */
}

#game p {
    font-size: 13em;
}

#display {
    
}

footer {
    flex-grow: 1;
}
